@charset "UTF-8";
@import url(animate.min.css);
@import url(onepage-scroll.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400);
@font-face {
  font-family: 'Gotham';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/gotham.eot');
  src: url('fonts/gotham.eot?#iefix') format('embedded-opentype'), url('fonts/gotham.woff') format('woff'), url('fonts/gotham.ttf') format('truetype'), url('fonts/gotham.svg#Gotham') format('svg'); }

html, body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
  moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

p {
  font-size: .75em;
  margin-top: 10px; }

h3 {
  margin-right: 30px;
  font-size: 1.4em;
  font-weight: 300; }
  @media (max-width: 767px) {
    h3 {
      font-size: 1.1em; } }

#landing {
  background: url(img/landing.jpg) center center no-repeat;
  background-size: cover;
  color: #FFFFFF; }
  @media (max-width: 767px) {
    #landing {
      border-bottom: 15px solid #F17E2A; } }
  @media (min-width: 768px) {
    #landing {
      border-bottom: 15px solid #CC4A59; } }
  @media (min-width: 992px) {
    #landing {
      border-bottom: 15px solid #772626; } }
  @media (min-width: 1200px) {
    #landing {
      border-bottom: 15px solid #30013F; } }
  @media (max-height: 700px) {
    #landing {
      border-bottom: 15px solid red; } }
  @media (max-height: 815px) {
    #landing {
      border-bottom: 15px solid yellow; } }
  #landing .centro {
    box-sizing: border-box;
    z-index: 100; }
  #landing .logo-baca {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    background: url("img/logo-ciudad_abierta-claim.svg") center center no-repeat;
    background-size: 60%; }
    @media (max-width: 767px) {
      #landing .logo-baca {
        display: block;
        width: 309.6px;
        height: 108px;
        background-image: url("img/logo-ciudad_abierta-claim-mobile.png");
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center center; }
        @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
          #landing .logo-baca {
            background-image: url("img/logo-ciudad_abierta-claim-mobile_2x.png");
            background-size: 309.6px 108px; } } }
    #landing .logo-baca h1, #landing .logo-baca h2 {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden; }
  #landing #constelacion {
    width: 100%;
    height: 100vh; }

#section01 {
  background: url(img/page01.jpg) -250px center/cover no-repeat;
  background-size: cover; }

#section02 {
  background: url(img/page02.jpg) center center no-repeat;
  background-size: cover; }

#section04 {
  z-index: 999; }

#section05 {
  background: url(img/page05.jpg) center center no-repeat;
  background-size: cover; }

.headerLogos {
  clear: both;
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 999; }
  .headerLogos .izquierda {
    float: left;
    text-align: left;
    margin: 20px;
    width: 33%; }
  .headerLogos .centro {
    margin: 0 auto;
    width: 100%;
    height: 125px;
    text-align: center;
    margin: 20px; }
  .headerLogos .derecha {
    float: right;
    text-align: right;
    margin: 20px;
    width: 33%; }
  .headerLogos .logo-gcba a {
    display: block;
    width: 172px;
    height: 34px;
    background-image: url("img/logo-ba.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .headerLogos .logo-gcba a {
        background-image: url("img/logo-ba_2x.png");
        background-size: 172px 34px; } }
    @media (max-width: 767px) {
      .headerLogos .logo-gcba a {
        display: block;
        width: 85px;
        height: 35px;
        background-image: url("img/logo-ba-mobile.png");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center center; }
        @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
          .headerLogos .logo-gcba a {
            background-image: url("img/logo-ba-mobile_2x.png");
            background-size: 85px 35px; } } }
  .headerLogos .logo-gcba-invertido a {
    display: block;
    width: 172px;
    height: 34px;
    background-image: url("img/logo-ba-invertido.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .headerLogos .logo-gcba-invertido a {
        background-image: url("img/logo-ba-invertido_2x.png");
        background-size: 172px 34px; } }
    @media (max-width: 767px) {
      .headerLogos .logo-gcba-invertido a {
        display: block;
        width: 85px;
        height: 35px;
        background-image: url("img/logo-ba-invertido-mobile.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center; }
        @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
          .headerLogos .logo-gcba-invertido a {
            background-image: url("img/logo-ba-invertido-mobile_2x.png");
            background-size: 85px 35px; } } }
  .headerLogos .logo-evoluciona {
    display: block;
    width: 125px;
    height: 125px;
    background-image: url("img/logo-ba-evoluciona.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: top right;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .headerLogos .logo-evoluciona {
        background-image: url("img/logo-ba-evoluciona_2x.png");
        background-size: 125px 125px; } }
    @media (max-width: 767px) {
      .headerLogos .logo-evoluciona {
        display: none; } }
  .headerLogos .claim h3 {
    font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .75em;
    text-transform: uppercase;
    margin-top: 10px; }

.avanzar {
  position: absolute;
  right: 0px;
  margin: auto;
  width: 63px;
  background: url("img/arrow-down.svg") no-repeat scroll center center transparent;
  z-index: 999;
  height: 63px;
  left: 0px;
  cursor: pointer;
  bottom: 20px; }
  .avanzar:hover {
    background: url("img/arrow-down.svg") no-repeat scroll center center transparent;
    background-size: 150%; }

.contenidoCentrado {
  display: table;
  height: 100%;
  width: 100%; }
  .contenidoCentrado .derecha {
    text-align: right; }
  .contenidoCentrado .centro {
    text-align: center; }

.wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100vh;
  padding: 20px; }
  .wrapper li {
    padding-bottom: 10px; }

.mitad {
  margin-left: 20%;
  width: 80%; }
  .mitad .logo-baca {
    position: absolute;
    top: 20%;
    bottom: 50%;
    right: 50px;
    margin: auto;
    width: 348.3px;
    height: 100%;
    background-image: url("img/logo-ciudad_abierta-invert.png");
    background-size: 66%;
    background-repeat: no-repeat;
    background-position: center right; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .mitad .logo-baca {
        background-image: url("img/logo-ciudad_abierta-invert_2x.png");
        background-size: 348.3px; } }
    @media (max-width: 767px) {
      .mitad .logo-baca {
        display: block;
        width: 348.3px;
        height: 121.5px;
        background-image: url("img/logo-ciudad_abierta-invert.png");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center right; }
        @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
          .mitad .logo-baca {
            background-image: url("img/logo-ciudad_abierta-invert_2x.png");
            background-size: 348.3px; } } }
    .mitad .logo-baca h1, .mitad .logo-baca h2 {
      text-indent: 200%;
      white-space: nowrap;
      overflow: hidden; }

.contenidoSlanted {
  clear: both;
  height: 100vh;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 45%;
  z-index: 800; }

.formaGrandeArriba {
  border-left: 200px solid transparent;
  border-top: 100vh solid #fff;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 45%;
  z-index: 0; }

.formaChicaArriba {
  border-left: 200px solid transparent;
  border-bottom: 100vh solid #fff;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 45%;
  z-index: 0; }

.textoAcordeon {
  display: none; }

.acordeon {
  cursor: hand;
  cursor: pointer;
  margin-top: -20px; }

.fechas {
  margin: 0 auto;
  max-width: 800px;
  text-align: center; }
  .fechas .izquierda {
    max-width: 45%;
    float: left;
    text-align: center; }
  .fechas .derecha {
    text-align: center;
    max-width: 45%;
    float: right; }
  .fechas .circulo {
    margin: 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    color: #FFFFFF;
    font-size: 1.5em;
    line-height: 8em; }
  .fechas .camp {
    background-color: #4d405c; }
  .fechas .hack {
    background-color: #2e363b; }

.registrate {
  z-index: 999;
  background-color: #4d405c;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 30px;
  text-decoration: none; }

.registrate:hover {
  background-color: #000000; }

.registrate:active {
  position: relative;
  top: 1px; }

.tablita {
  margin: 0 auto;
  clear: both;
  display: table;
  width: 800px; }
  .tablita .celdita {
    display: inline-block;
    width: 30%; }
