@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import "../public/components/bourbon/dist/_bourbon.scss";
@import "mixins/breakpoint.scss";
@import "animate.min.css";
@import "onepage-scroll.css";
@include font-face('Gotham', 'fonts/gotham');
//tamaños de dispositivos
$screen-xs: 480px !default; // telefonos
$screen-sm: 768px !default; //tablet
$screen-md: 992px !default; //desktop
$fontset-gotham: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$fontset-openSans: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif !default;

html,
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-backface-visibility: hidden;
    moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-touch-callout: none;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    width: 100%;
    height: 100%;
}


#landing{
    background: url(img/landing.jpg) center center no-repeat;
    background-size: cover;
    color: #FFFFFF;
    @include breakpoint(xs) {
      border-bottom: 15px solid #F17E2A;
    }
    @include breakpoint(sm) {
      border-bottom: 15px solid #CC4A59;
    }
    @include breakpoint(md) {
      border-bottom: 15px solid #772626;
    }
    @include breakpoint(lg) {
      border-bottom: 15px solid #30013F;
    }
    @media (max-height:700px) {
      border-bottom: 15px solid red;
    }
    @media (max-height:815px) {
        border-bottom: 15px solid yellow;
    }
    .centro {
        box-sizing: border-box;
        z-index: 100;
    }
    .logo-baca {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;
        background: url("img/logo-ciudad_abierta-claim.svg") center center no-repeat;
        background-size: 50%;
        h1, h2 {
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
        }
        @include breakpoint(xs) {

        }
    }
}

#section01{
    background: url(img/page01.jpg) -250px center/cover no-repeat;
    background-size: cover;
}
#section02{
    background: url(img/page02.jpg) center center no-repeat;
    background-size: cover;
}

#section05{
    background: url(img/page05.jpg) center center no-repeat;
    background-size: cover;
}

.headerLogos {
    clear: both;
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 999;
    .izquierda {
        float: left;
        text-align: left;
        margin: 20px;
        width: 33%;
    }
    .centro {
        margin: 0 auto;
        width: 33%;
        height: 125px;
        text-align: center;
        margin: 20px;
    }
    .derecha {
        float: right;
        text-align: right;
        margin: 20px;
        width: 33%;
    }
    .logo-gcba a {
        display: block;
        width: 172px;
        height: 34px;
        @include retina-image("img/logo-normal", 172px 34px);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .logo-evoluciona {
        display: block;
        width: 125px;
        height: 125px;
        @include retina-image("img/logo-ba-evoluciona", 125px 125px);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: top right;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
}

.avanzar {
    position: absolute;
    right: 0px;
    margin: auto;
    width: 63px;
    background: url("img/arrow-down.png") no-repeat scroll center center transparent;
    z-index: 999;
    height: 63px;
    left: 0px;
    cursor: pointer;
    bottom: 20px;
    z-index: 999;
}

.avanzar:hover {
    background: url("img/arrow-down.png") no-repeat scroll center center transparent;
    background-size: 150%;
}

.contenidoSlanted {
    position: absolute;
    right: 0px;
    margin: auto;
    width: 63px;
    z-index: 999;
    height: 63px;
    left: 0px;
    cursor: pointer;
    bottom: 20px;
    z-index: 800;
}


.formaGrandeArriba{
    border-left: 200px solid transparent;
    border-top: 100vh solid #fff;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    z-index: 0;
}

.formaChicaArriba{
    border-left: 200px solid transparent;
    border-bottom: 100vh solid #fff;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 45%;
    z-index: 0;
}
